.button {
  border: none;
  background: rgba(0, 0, 0, 0);
}

.icon {
  position: relative !important;
  width: 100px;
  height: 100px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(56deg) brightness(105%) contrast(104%);
}
