.button {
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button::before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 6rem;
  border: 0.2rem solid white;
  border-radius: 50%;
}
