.toggle-container {
  position: fixed;
  width: 8rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  position: relative;
  font-size: 1rem;
  transition: color 0.3s ease;
  width: 4rem;
  text-align: center;
  line-height: 4rem;
}

.active {
  color: #007bff;
}

.inactive {
  color: grey;
}

.toggle-thumb {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.gif {
  transform: translateX(4rem);
}