.indicator-container {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.indicator-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.indicator {
  width: 4rem;
  height: 4rem;
  border: 0.25rem solid black;
  border-top-color: aqua;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.indicator-text {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}